[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# required by keyring for KWallet
dbus-python = "*"
keyring = "*"
requests = "*"
# required by keyring for Freedesktop Secret Service
SecretStorage = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
